
.card
{
	display: inline-block;
	width: 460px;
	text-align: center;
	padding: 5px;
}

.card
{
	position: relative;
	width: 450px;
	height: 278px;
}

.card .link
{
	position: absolute;
	display: block;
	width: 450px;
	height: 65px;
	background-color: #111;
	left: 0px;
	bottom: 0px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
